.about {
  padding-top: 137px;

  &__background {
    background-image: url('../img/about/backgrond.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
  }
  &__content {
    padding-top: 35px;
    margin-bottom: 30px;
  }
  &__title {
    margin-bottom: ;
  }
}